<li class="px-1"><a target="_blank" href="https://www.facebook.com/DoOzEscape/"><img src="{{ asset('img/base/share_icons/facebook.png') }}" alt="lien facebook"></a></li>
<li class="px-1"><a target="_blank" href="https://www.instagram.com/doozescapegamestras/"><img src="{{ asset('img/base/share_icons/instagram.png') }}" alt="lien instagram"></a></li>
<li class="px-1"><a target="_blank" href="https://www.tiktok.com/@doozescapegame"><img src="{{ asset('img/base/share_icons/tiktok.png') }}" alt="lien tiktok"></a></li>
<li class="px-1"><a target="_blank" href="https://fr.linkedin.com/showcase/dooz-escape-game"><img src="{{ asset('img/base/share_icons/linkedin.png') }}" alt="lien linkendin"></a></li>
<li class="px-2"><a target="_blank" href="https://www.twitch.tv/doozescape?lang=fr"><img src="{{ asset('img/base/share_icons/twitch.png') }}" alt="lien linkendin"></a></li>
<li class="px-1"><a target="_blank" href="https://www.youtube.com/c/DOOZESCAPEGAMESTRASBOURG"><img src="{{ asset('img/base/share_icons/youtube.png') }}" alt="lien youtube"></a></li>