{% extends 'base.html.twig' %}

{% block title %}Back Office - Dooz Escape Game{% endblock %}

{% block BO %}

    <h1 class="text-center">Bienvenue sur votre profil</h1>

    <div class="d-flex">

{#        <h2>{{ dooz.name }}</h2>#}
        <div class="col-6">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-6">{{ form_row(form.telephone) }}</div>
            </div>
            {{ form_end(form) }}
        </div>

        <div class="col-6">
            Mes infos


            {{ dooz.telephone }}
        </div>


    </div>







    <div class="d-flex flex-column align-items-center justify-content-center">

    </div>









{% endblock %}

