
<div class="vanaheim_axe_explication">
    <!--Explication-->
    <div class="vanaheim_axe_explication_box d-flex flex-column">
        <img class="vanaheim_axe_explication_box_bkground" src="{{ asset('img/vanaheim/design/fond_triscel.png') }}" alt="Fond triscel">
        {% if app.request.locale == 'fr' %}
            <h4>Le lancer de haches c'est quoi ?</h4>
            <img class="vanaheim_axe_explication_arrow" src="{{ asset('img/vanaheim/design/arrow_viking.png') }}" alt="Fleche Viking">
            <p class="vanaheim_axe_text">
                Le lancer de hache est une activité sportive consistant, comme son nom le laisse à penser, à lancer une hache au centre d’une cible avec le plus de précision possible.<br>
                Mais cette pratique n’a pas toujours eu un aspect aussi ludique qu’aujourd’hui.
            </p>
        {% endif %}
        {% if app.request.locale == 'en' %}
            <h4>What is ax throwing?</h4>
            <img class="vanaheim_axe_explication_arrow" src="{{ asset('img/vanaheim/design/arrow_viking.png') }}" alt="Fleche Viking">
            <p class="vanaheim_axe_text">
                Axe throwing is a sporting activity consisting, as its name suggests, of throwing an ax at the center of a target with as much precision as possible.<br>
                But this practice has not always had as playful an aspect as it does today.
            </p>
        {% endif %}
    </div>
    <!--Widgets-->
    <div class="vanaheim_axe_explication_box d-flex flex-wrap">
        <img class="vanaheim_axe_explication_box_bkground" src="{{ asset('img/vanaheim/design/fond_triscel.png') }}" alt="Fond triscel">
        <div class="vanaheim_axe_widgets">
            <img src="{{ asset('img/base/icons/axe.png') }}" alt="Axe croisée">
            <p class="vanaheim_axe_text">{% trans %}Choississez vos haches{% endtrans %}</p>
        </div>
        <div class="vanaheim_axe_widgets">
            <img src="{{ asset('img/base/icons/head_viking.png') }}" alt="Tete viking">
            <p class="vanaheim_axe_text">{% trans %}Choississez le nombre de Vikings{% endtrans %}</p>
        </div>
        <div class="vanaheim_axe_widgets">
            <img src="{{ asset('img/base/icons/dialsun.png') }}" alt="Cadran solaire">
            <p class="vanaheim_axe_text">{% trans %}Choississez l'heure et la date{% endtrans %}</p>
        </div>
        <div class="vanaheim_axe_widgets">
            <img src="{{ asset('img/base/icons/gold_bag.png') }}" alt="Sac de pieces">
            <p class="vanaheim_axe_text">{% trans %}Payez en ligne{% endtrans %}</p>
        </div>
    </div>
</div>

<div class="vanaheim_axe_shield">
    <img src="{{ asset('img/base/icons/shield_viking.png') }}" alt="Bouclier viking">
    <div class="vanaheim_axe_shield_text">
        {% if app.request.locale == 'fr' %}
            <h5 class="font_vanaheim">Nos Offres</h5>
            <p class="font_vanaheim_2"><span>à partir de 40€/piste</span> - 1 à 4 vikings pour 1 heure</p>
        {% elseif app.request.locale == 'en' %}
            <h5 class="font_vanaheim">Our offers</h5>
            <p class="font_vanaheim_2"><span>from 40€/lane</span> - 1 to 4 vikings for 1 hour</p>
        {% endif %}
    </div>
</div>

<!--Règles européennes-->
<div class="vanaheim_axe_explication_box vanaheim_axe_explication_box_big d-flex flex-column">
    <img class="vanaheim_axe_explication_box_bkground" src="{{ asset('img/vanaheim/design/fond_triscel.png') }}" alt="Fond triscel">
    {% if app.request.locale == 'fr' %}
        <h4>Quelques règles</h4>
        <img class="vanaheim_axe_explication_arrow" src="{{ asset('img/vanaheim/design/arrow_viking.png') }}" alt="Fleche Viking">
        <p class="vanaheim_axe_text">
            A Vanaheim, nous jouons avec les règles européennes de la fédération de lancer de hache, à savoir 3 cibles, dont le centre se situe de 1.30m à 1.60m, vous disposez de 3 haches pour marquer le plus de points et être le meilleur viking !<br>
            Une session dure 60 minutes. Les 15 premières sont dédiées aux règles de sécurité et la prise en main de vos haches. Les 45 minutes suivantes c'est vous qui décidez et qui choisissez votre mode de jeu pour le calcul des points !<br>
            Merci de vous présenter 15 minutes avant le début de votre session afin que vous soyez pris en charge par l'un de nos agents qui se chargera de vous installer confortablement dans notre skali.<br>
            Si l'horaire ne vous convient pas n'hésitez pas à nous contacter au 07.88.58.63.61
        </p>
    {% endif %}
    {% if app.request.locale == 'en' %}
        <h4>Some rules</h4>
        <img class="vanaheim_axe_explication_arrow" src="{{ asset('img/vanaheim/design/arrow_viking.png') }}" alt="Fleche Viking">
        <p class="vanaheim_axe_text">In Vanaheim, we play with the European rules of the ax throwing federation, namely 3 targets, the center of which is between 1.30m and 1.60m, you have 3 axes to score the most points and be the best viking !<br>
            A session lasts 60 minutes. The first 15 are dedicated to safety rules and handling your axes. The next 45 minutes it's up to you and who chooses your game mode for the calculation of points!<br>
            Please arrive 15 minutes before the start of your session so that you will be picked up by one of our agents who will take care of getting you comfortably settled in our skali.<br>
            If the schedule does not suit you, do not hesitate to contact us at 07.88.58.63.61</p>
    {% endif %}
</div>


<!--Reservation 4escape-->
<div>
    <h4 class="font_vanaheim_2 text-center">{% trans %}Séléctionnez votre date :{% endtrans %}</h4>
    <div class="forescape" data-subdomain="doozdestroyroom" data-type="bookings" data-rooms="62cbfb1c1e9c82e2e8caabe7,62cc04201e9c82e2e8cabdcc,62cc0528336363e2ccd4e057,62cc05e4336363e2ccd50e62,62cc06c3336363e2ccd511af"></div>
</div>


<!--Proposition Bar-->
<div class="vanaheim_axe_explication_box vanaheim_axe_explication_box_big d-flex flex-column justify-content-evenly">
    <img class="vanaheim_axe_explication_box_bkground" src="{{ asset('img/vanaheim/design/fond_triscel.png') }}" alt="Fond triscel">
    {% if app.request.locale == 'fr' %}
        <h4 class="m-0">Une soif du Nord ?</h4>
        <img class="vanaheim_axe_explication_arrow" src="{{ asset('img/vanaheim/design/arrow_viking.png') }}" alt="Fleche Viking">
        <p class="vanaheim_axe_text">Enfin, Vanaheim vous propose bien évidemment de vous rafraîchir en terrasse, ou dans son bar, le tout dans une ambiance Viking unique.<br><br>Autour d’une bière, d’un cocktail ou d’une grand nombre de consommations diverses retrouvez vous entre amis ou en famille dans une ambiance d’époque prenante et transcendante grâce à un décor fait de bois, bouclier, haches, et bien plus encore...</p>
        <a target="_blank" href="{{ asset('upload/bars/vanaheim/menu/carte-vanaheim.pdf') }}">
            <p class="text-center font_vanaheim_2 fs-3 link_underline">
                Voir notre carte
            </p>
        </a>
    {% elseif app.request.locale == 'en' %}
        <h4 class="m-0">A north's thirst ?</h4>
        <img class="vanaheim_axe_explication_arrow" src="{{ asset('img/vanaheim/design/arrow_viking.png') }}" alt="Fleche Viking">
        <p class="vanaheim_axe_text">
            Finally, Vanaheim obviously offers you to refresh yourself on the terrace, or in its bar, all in a unique Viking atmosphere.<br><br>Around a beer, a cocktail or a large number of drinks find yourself with friends or family in a fascinating and transcendent period atmosphere thanks to a decor made of wood, shield, axes, and much more...</p>
        <a target="_blank" href="{{ asset('upload/bars/vanaheim/menu/carte-vanaheim.pdf') }}">
            <p class="text-center font_vanaheim_2 fs-3 link_underline">
                See our menu
            </p>
        </a>
    {% endif %}
</div>


<!--Horaires Bar-->
<div class="vanaheim_axe_explication_box d-flex flex-column justify-content-evenly">
    <img class="vanaheim_axe_explication_box_bkground" src="{{ asset('img/vanaheim/design/fond_triscel.png') }}" alt="Fond triscel">
        <div class="vanaheim_axe_explication_box_horaries d-flex flex-column justify-content-center align-items-center pt-1">
            <h5 class="font_vanaheim_2 text-center">{% trans %}Les horaires du bar{% endtrans %}</h5>
            <ul class="my-3">
                {% if app.request.locale == 'fr' %}
                    <li class="vanaheim_axe_text">Lundi : 14h - 23h30(sur réservation)</li>
                    <li class="vanaheim_axe_text">Mardi : 14h - 23h30(sur réservation)</li>
                    <li class="vanaheim_axe_text">Mercredi : 14h - 23h30</li>
                    <li class="vanaheim_axe_text">Jeudi : 14h - 23h30</li>
                    <li class="vanaheim_axe_text">Vendredi : 10h - 00h00</li>
                    <li class="vanaheim_axe_text">Samedi : 10h - 00h00</li>
                    <li class="vanaheim_axe_text">Dimanche : 10h - 20h00</li>
                {% elseif app.request.locale == 'en' %}
                    <li class="vanaheim_axe_text">Monday : 14h - 23h30(on reservation)</li>
                    <li class="vanaheim_axe_text">Tuesday : 14h - 23h30(on reservation)</li>
                    <li class="vanaheim_axe_text">Wednesday : 14h - 23h30</li>
                    <li class="vanaheim_axe_text">Thursday : 14h - 23h30</li>
                    <li class="vanaheim_axe_text">Friday : 10h - 00h00</li>
                    <li class="vanaheim_axe_text">Saturday : 10h - 00h00</li>
                    <li class="vanaheim_axe_text">Sunday : 10h - 20h00</li>
                {% endif %}

            </ul>
        </div>
        <!--Photo du bars-->
        <div class="bars_description_thumbnails d-flex justify-content-center flex-wrap pb-2">
            <img src="{{ asset('upload/bars/vanaheim/thumbnails/vanaheim1.jpg') }}" alt="Miniature du bar">
            <img src="{{ asset('upload/bars/vanaheim/thumbnails/vanaheim4.jpg') }}" alt="Miniature du bar">
            <img src="{{ asset('upload/bars/vanaheim/thumbnails/vanaheim3.jpg') }}" alt="Miniature du bar">
        </div>
</div>
